.sendMessage {
    display: flex;
}

.App {
    padding: 10px;
    background: #e0f3ec;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.posts {
    border-top: 1px solid darkgray;
    padding-top: 10px;
}

.post {
    position: relative;
    padding: 10px 5px;
    border: 3px solid #b1efbb;
    background: white;
    border-radius: 8px;
    margin-bottom: 10px;
}
.post-time{
    position: absolute;
    top: 5px;
    right: 3%;
    color: grey;
}
.preloader{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("../src/assets/img/preloader.gif");
}
.posts-preloader{
    margin: 30px auto;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: url("../src/assets/img/preloader.gif");
}